@use "../../assets/scss/mixin/breakpoints" as *;

.hotelListContainer {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 50px auto 0 auto;
}

.toggleButtonGroup:global.MuiToggleButtonGroup-root {
  justify-content: flex-end;

  @include max-width(lg) {
    justify-content: center;
  }
}

.toggleButton:global.MuiButtonBase-root.MuiToggleButton-root {
  text-transform: capitalize;
  line-height: normal;
  letter-spacing: normal;
  font-size: small;
}

.toggleButton:global.MuiButtonBase-root.MuiToggleButton-root.Mui-selected {
  color: white;
  background: rgba(102, 76, 40, 0.8);
}