.hotelListContainer {
  max-width: var(--content-max-width);
  margin: 50px auto;
  justify-content: center;
}

.hotelCard {
  width: 1000px;
  height: 250px;
  display: flex;
  margin: 20px auto;

  &:hover {
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
  }
}

.cardMedia:global.MuiCardMedia-root {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}

.cardContent {
  width: 800px;
  margin: auto;
}

.rating:global.MuiRating-root {
  font-size: 1rem;
}

.hotelServiceIconAndPriceContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hotelPrice {
  font-weight: bold;
  margin: 0;
}

