.hotelService {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid gray;
  height: 50px;
  width: 200px;
  margin: 0 10px 10px 0;
}

.serviceIcon {
  margin-left: 5px;
}

.serviceName {
  margin-left: 5px;
}