@use "../../assets/scss/mixin/breakpoints" as *;

.hotelDetailContainer {
  margin: 50px auto;
  padding: 0 20px 20px 20px;
  max-width: var(--content-max-width);

  @include max-width(sm) {
    width: 100vw;
    padding: 0;

    > div {
      margin: auto;
      width: calc(100vw - 40px);
    }
  }
}

.hotelsNavigationButton:global.MuiButtonBase-root.MuiButton-root {
  text-transform: none;
}

.container {
  display: flex;
  column-gap: 50px;
  margin: 25px 0 25px 0;

  @include max-width(lg) {
    display: block;
  }
}

.hotelTitle {
  margin: 0;
}

.location {
  display: flex;
  align-items: center;
}

.hotelMap {
  height: 400px;
}

.leftContainer {
  @include max-width(lg) {
    display: inline-block;
  }
}